<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error </title>
    <h1>Se ha detectado algun error:</h1>
    <form action="" method="post">
        <p><%=message%></p>
        <input type="submit" value="Volver">
    </form>
</head>
<body>
    
</body>
</html>